/**
 * Dark theme variables
 */

:root {
  --code-color-1: #022222;
  --code-color-2: #aa0000;
  --code-color-3: #5A9A00;
  --code-color-4: #a68904;
  --code-color-5: #185AD6;
  --code-color-6: #BE05FC;
  --code-color-7: #107371;
  --code-color-8: #b0b0b0;

  --code-color-9: #033333;
  --code-color-10: #dd0000;
  --code-color-11: #79CF00;
  --code-color-12: #E6A909;
  --code-color-13: #387AE6;
  --code-color-14: #FC05BE;
  --code-color-15: #29C5C5;
  --code-color-16: #d0d0d0;
  --code-color-17: #800000;
  --code-color-18: #bbbbbb;
  --base-color: var(--code-color-8);
  --border: dashed 1px rgba(219, 219, 219, 0.9);
  --selection-background: rgba(219, 219, 219, 0.99);
  --selection-text: #000;
  --background-color: var(--code-color-1);
  --text-color: var(--base-color);
  --placeholder-color: var(--base-color);
  --link-color: var(--code-color-4);
}
